:import {
  -st-from: "wix-ui-tpa/dist/src/components/Button/Button.st.css";
  -st-default: MyButton;
}

:vars {
  marginbetweenelements: 20px;
}

.root {
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
}

.grid {
  margin-top: value(marginBetweenElements);
}

.loadMore {
  /* Override background color and border radius using the style variables */
  -st-mixin: MyButton(
    MainBackgroundColor "--buttonBackgroundColor",
    MainBorderRadius 'unit(--buttonBorderRadius, "px")'
  );
  padding: 0 20px;
  height: 30px;
  margin-top: 20px;
  cursor: pointer;
}
